<div class="relative">
  <div class="caps-xl text-stroke-2px">01</div>
  <div class="absolute" style="left: 50%; top: 50%">
    <img
      src="/assets/svg/clubhouse.svg"
      class="floating absolute max-w-none"
      style="
        transform: translate(-50%, -50%);
        top: 67px;
        left: -60px;
        animation-delay: 0ms;
      "
    />
    <img
      src="/assets/svg/facebook.svg"
      class="floating absolute max-w-none"
      style="
        transform: translate(-50%, -50%);
        top: -15px;
        left: 95px;
        animation-delay: 100ms;
      "
    />
    <img
      src="/assets/svg/insta.svg"
      class="floating absolute max-w-none"
      style="
        transform: translate(-50%, -50%);
        top: -95px;
        left: 15px;
        animation-delay: 500ms;
      "
    />
    <img
      src="/assets/svg/tiktok.svg"
      class="floating absolute max-w-none"
      style="
        transform: translate(-50%, -50%);
        top: -40px;
        left: -90px;
        animation-delay: 900ms;
      "
    />
    <img
      src="/assets/svg/twitter.svg"
      class="floating absolute max-w-none"
      style="
        transform: translate(-50%, -50%);
        top: 78px;
        left: 53px;
        animation-delay: 650ms;
      "
    />
  </div>
</div>