<div class="relative">
  <div class="caps-xl text-stroke-2px relative z-10">02</div>
  <div class="absolute" style="left: 50%; top: 50%">
    <img
      src="./assets/lfs/021@1.png"
      class="absolute max-w-none z-20"
      width="80"
      style="
        transform: translate(-50%, -50%);
        top: -65px;
        left: -85px;
      "
    />
    <img
      src="./assets/lfs/022@1.png"
      class="absolute max-w-none z-20"
      width="70"
      style="
        transform: translate(-50%, -50%);
        top: -65px;
        left: 110px;
      "
    />
    <img
      src="./assets/lfs/023@1.png"
      class="absolute max-w-none"
      width="83"
      style="
        transform: translate(-50%, -50%);
        top: 60px;
        left: -52px;
        z-index: 0;
      "
    />
    <img
      src="./assets/lfs/024@1.png"
      class="absolute max-w-none z-20"
      width="61"
      style="
        transform: translate(-50%, -50%);
        top: 45px;
        left: 70px;
      "
    />
  </div>
</div>