<div class="relative">
  <div class="caps-xl text-stroke-2px relative z-10">03</div>
  <div class="absolute" style="left: 50%; top: 50%">
    <img
      src="/assets/svg/03arrows.svg"
      class="absolute max-w-none z-20"
      width="195"
      style="
        transform: translate(-50%, -50%);
        top: 5px;
        left: 2px;
      "
    />
    <img
      src="/assets/svg/031.svg"
      class="floating absolute max-w-none z-20"
      style="
        transform: translate(-50%, -50%);
        animation-delay: 100ms;
        animation-duration: 3s;
        top: 50px;
        left: -100px;
        
      "
    />
    <img
      src="/assets/svg/032.svg"
      class="floating absolute max-w-none"
      style="
        transform: translate(-50%, -50%);
        animation-delay: 1000ms;
        animation-duration: 3s;
        top: -50px;
        left: 107px;
        z-index: 0;
      "
    />
  </div>
</div>