<div class="asdf-box sm:hidden bg-no-repeat bg-cover mb-30 p-30 flex items-center justify-center" style="background-image: url(./assets/lfs/@@imgName?nf_resize=fit&w=700);">
  <div class="caps-md cursor-default">@@text</div>
</div>  

<div class="asdf-box hidden sm:block show-at-hover-position__target z-10 relative mb-5">
  <div class="caps-md cursor-default relative z-10 pointer-events-none">@@text</div>
  <img class="show-at-hover-position__elt-to-show hidden absolute z-0 pointer-events-none" width="376" src="./assets/lfs/@@imgName?nf_resize=fit&w=700" />
</div>  