<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js"></script>

<style>
  .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/img/flags.png");}

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/img/flags@2x.png");}
  }

  .iti.iti--allow-dropdown {
    min-width: 0;
  }

  .iti.iti--allow-dropdown #phone {
    width: 100%;
  }

  .contact__wrap input[type="checkbox"],
  .contact__wrap input[type="radio"] {
    visibility: hidden;
    position: absolute;
  } 

  .contact__checkbox-wrap {
    height: 200px;   
  }

  .contact__wrap input[type="checkbox"]:checked ~ .contact__checkbox-text {
    color: white;
  }

  .contact__wrap input[type="checkbox"]:checked ~ svg {
    fill: black;
  }

  .contact__wrap input[type="radio"]:checked ~ .contact__radio-dot > .contact__radio-dot__inner {
    background: black;
  }

  .contact__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex: 1 1 0;
    margin: 1vw;
    cursor: pointer;
  }

  .contact__checkbox-label svg {
    position: absolute;
  }

  .contact__checkbox-label:hover svg,
  .contact__checkbox-label:focus svg {
    fill: #c4c4c4;
  }

  .contact__checkbox-label:hover path,
  .contact__checkbox-label:focus path,
  .contact__checkbox-label:hover circle,
  .contact__checkbox-label:focus circle,
  .contact__checkbox-label:hover rect,
  .contact__checkbox-label:focus rect {
    stroke: #c4c4c4;
  }
  
  .contact__checkbox-label:hover,
  .contact__checkbox-label:focus {
    color: white;
  }

  .contact__overlay {
    background: grey;
    opacity: .8;
  }

  .contact__inner {
    width: min(590px, 95vw);
    left: 50vw;
    top: 50px;
    transform: translateX(-50%);
  }

  .contact__radio-dot {
    height: 16px;
    width: 16px;
    border: 2px solid black;
    padding: 2px;
    border-radius: 100%;
    margin-bottom: 4px;
  }

  .contact__radio-dot__inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .contact__radio-wrap {
    height: 20vw;
    display: flex;
  }

  .contact__radio-label {
    border-radius: 2px;
    display: flex;
    flex: 1 1 0;
    margin-right: min(17px, 2vw);
    border: 2px solid black;
    padding: 4px;
    text-align: center;
    cursor: pointer;
  }

  .contact__radio-label:hover,
  .contact__radio-label:focus {
    border-color: #c4c4c4;
  }
  
  .contact__radio-label:last-child {
    margin-right: 0;
  }

  @media (max-width: 500px) {
    .contact__checkbox-text {
      font-size: 13px;
    }

    .contact__checkbox-wrap {
      height: 150px;
    }
  }

  @media (min-width: 640px) {
    .contact__radio-wrap {
      display: block;
      height: initial;
    }

    .contact__radio-label {
      margin-right: 0;
      border: none;
      padding: 0;
      display: block;
      text-align: left;
    }

    .contact__radio-dot {
      display: inline-block;
      vertical-align: middle;
    }

    .contact__radio-text {
      display: inline-block;
      vertical-align: middle;
    }

    .contact__radio-text::first-letter {
      text-transform: capitalize;
    }
  }
</style>

<div class="contact__wrap absolute z-50 hidden">
  <div class="contact__overlay fixed top-0 right-0 bottom-0 left-0"></div>
  <div class="contact__inner bg-white border border-black absolute p-30">
    <div class="contact__header flex justify-between mb-25">
      <div class="contact__heading caps-md mr-20" style="font-size: 40px">Schedule a strategy call</div>
      <button type="button" class="contact__close ml-20">
        <svg width="43" height="41" viewBox="0 0 43 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="41.5289" y1="1.28035" x2="2.61848" y2="40.1908" stroke="black" stroke-width="2"/>
          <line y1="-1" x2="55.0276" y2="-1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 1.91138 0.573242)" stroke="black" stroke-width="2"/>
        </svg>    
      </button>
    </div>
    <form  name="contact" method="POST" data-netlify="true" class="text-left">
      <div class="caps-sm">Reason:</div>
      <div class="contact__checkbox-wrap flex justify-between">
        <label class="contact__checkbox-label">
          <input type="checkbox" name="reason" value="search-engine-optimization" />
          <div class="contact__checkbox-text relative z-10 caps-sm">Search Engine Optimization</div>
          <svg viewBox="0 0 135 135" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="67.2779" cy="67.3366" r="66.389" stroke="black" stroke-width="2"/>
          </svg>          
        </label>
        <label class="contact__checkbox-label">
          <input type="checkbox" name="reason" value="sponsorships" />
          <div class="contact__checkbox-text relative z-10 caps-sm">Sponsorships</div>
          <svg viewBox="2.5 0 146 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.0748 15.3092L75.5458 1.18459L119.017 15.3092L145.883 52.2878V97.9959L119.017 134.975L75.5458 149.099L32.0748 134.975L5.20825 97.9959V52.2878L32.0748 15.3092Z" stroke="black" stroke-width="2"/>
          </svg>            
        </label>
        <label class="contact__checkbox-label">
          <input type="checkbox" name="reason" value="audio" />
          <div class="contact__checkbox-text relative z-10 caps-sm">Audio</div>
          <svg viewBox="10 -10 151 160" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.6208 126.13L85.4741 1.67644L157.327 126.13H13.6208Z" stroke="black" stroke-width="2"/>
          </svg>            
        </label>
      </div>
      <div class="flex justify-between" style="height: 200px">
        <label class="contact__checkbox-label">
          <input type="checkbox" name="reason" value="photography" />
          <div class="contact__checkbox-text relative z-10 caps-sm">Photography</div>
          <svg viewBox="-5 0 139 87" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.07955" y="1.34994" width="126.649" height="84.7195" stroke="black" stroke-width="2"/>
          </svg>            
        </label>
        <label class="contact__checkbox-label">
          <input type="checkbox" name="reason" value="editorial" />
          <div class="contact__checkbox-text relative z-10 caps-sm">Editorial</div>
          <svg style="max-width: 160px"viewBox="0 0 129 130" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.45431" y="1.57357" width="126.649" height="126.649" stroke="black" stroke-width="2"/>
          </svg>            
        </label>
        <label class="contact__checkbox-label">
          <input type="checkbox" name="reason" value="video" />
          <div class="contact__checkbox-text relative z-10 caps-sm">Video</div>
          <svg viewBox="5 0 148 158" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M42.38 28.2065L79.2884 1.48523L116.197 28.2065L116.199 28.2081L153.018 55.0528L139.01 98.4121L139.009 98.4146L124.856 141.727L79.2897 141.803H79.287L33.7211 141.727L19.568 98.4146L19.5672 98.4121L5.55899 55.0528L42.3778 28.2081L42.38 28.2065Z" stroke="black" stroke-width="2"/>
          </svg>            
        </label>
      </div>
      <div class="caps-sm mb-15">Best time to chat:</div>
      <div class="contact__radio-wrap mb-35">
        <label class="contact__radio-label flex-col justify-center items-center">
          <input type="radio" name="contact-time" value="morning" />
          <div class="contact__radio-dot">
            <div class="contact__radio-dot__inner"></div>
          </div>
          <div class="contact__radio-text body-small">morning</div>
        </label>
        <label class="contact__radio-label flex-col justify-center items-center">
          <input type="radio" name="contact-time" value="lunch" />
          <div class="contact__radio-dot">
            <div class="contact__radio-dot__inner"></div>
          </div>
          <div class="contact__radio-text body-small">around lunchtime</div>
        </label>
        <label class="contact__radio-label flex-col justify-center items-center">
          <input type="radio" name="contact-time" value="early-afternoon" />
          <div class="contact__radio-dot">
            <div class="contact__radio-dot__inner"></div>
          </div>
          <div class="contact__radio-text body-small">early afternoon</div>
        </label>
        <label class="contact__radio-label flex-col justify-center items-center">
          <input type="radio" name="contact-time" value="late-afternoon" />
          <div class="contact__radio-dot">
            <div class="contact__radio-dot__inner"></div>
          </div>
          <div class="contact__radio-text body-small">late afternoon</div>
        </label>
      </div>
      <div class="flex flex-col items-start">
        <div class="flex mb-40" style="height: 184px; max-width: 100%;">
          <div class="flex flex-col justify-between" style="max-width: 100%;">
            <div class="grid items-center" style="grid-template-columns: 1fr 2fr;">
              <label class="caps-sm mr-18" style="flex: .5 1 0">Full name:</label>
              <input class="input flex-1" name="full-name" style="min-width: 0" type="text" />
            </div>
            <div class="grid items-center" style="grid-template-columns: 1fr 2fr;">
              <label class="caps-sm mr-18" style="flex: .5 1 0">Email address:</label>
              <input class="input flex-1" name="email" style="min-width: 0" type="email" placeholder="you@email.com" />
            </div>
            <div class="grid items-center" style="grid-template-columns: 1fr 2fr;">
              <label class="caps-sm mr-18" style="flex: .5 1 0">Phone number:</label>
              <input id="phone" name="phone" class="input flex-1" style="min-width: 0" type="tel" />
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <button class="button inline-block mr-22" type="submit">Send message</button>
          <div>or <button class="inline underline contact__close">cancel</button></div>
        </div>
      </div>
    </form>
  </div> <!-- .contact__inner -->
</div>


<script>
  const input = document.querySelector("#phone");
  intlTelInput(input, {
    autoPlaceholder: "polite",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.min.js"
  });
</script>