<!-- Mobile bubbles -->
<div 
  class="lg:hidden relative text-white" 
  style="
    height: 550px;
    width: 0;
    left: 50vw;
">
  @@include('./bubble.html', {
    
    size: '74px',
    text: 'Advertise product',
    background: '#0B4ADB',
    top: '140px',
    left: '3vw',
  })
  @@include('./bubble.html', {
    
    size: '75px',
    text: 'A/B Testing',
    background: 'linear-gradient(90deg, rgba(136,42,210,1) 0%, rgba(136,42,210,1) 50%, rgba(234,81,200,1) 50%, rgba(234,81,200,1) 100%);',
    top: '60px',
    left: '12vw',
  })
  <div class="text-black">
    @@include('./bubble.html', {
      
      size: '155px',
      text: 'Advertise product',
      background: 'url(/assets/lfs/Group320.png)',
      top: '135px',
      left: '33vw',
    })
  </div>
  @@include('./bubble.html', {
    
    size: '87px',
    text: 'Create website',
    background: '#4210D1',
    top: '85px',
    left: '-30vw',
  })
  @@include('./bubble.html', {
    
    size: '101px',
    text: 'Define promotions',
    background: '#EF1021',
    top: '280px',
    left: '40vw',
  })
  @@include('./bubble.html', {
    
    size: '87px',
    text: 'Facebook',
    background: '#0536A7',
    top: '290px',
    left: '-35vw',
  })
  @@include('./bubble.html', {
    
    size: '88px',
    text: 'Instagram',
    background: 'linear-gradient(215deg, #4663D8 0%, rgba(182,43,173,1) 40%, rgba(219,40,127,1) 60%, rgba(241,98,55,1) 85%, rgba(255,215,113,1) 100%)',
    top: '310px',
    left: '-15vw',
  })
  @@include('./bubble.html', {
    
    size: '117px',
    text: 'International translation',
    background: 'url(/assets/svg/international-translation.svg)',
    top: '190px',
    left: '-20vw',
  })
  @@include('./bubble.html', {
    
    size: '87px',
    text: 'Google reviews',
    background: '#F09A18',
    top: '380px',
    left: '0vw',
  })
  @@include('./bubble.html', {
    
    size: '103px',
    text: 'Launch digital ad campaign',
    background: '#D511AA',
    top: '500px',
    left: '6vw',
  })
  @@include('./bubble.html', {
    
    size: '133px',
    text: 'Maintain monthly newsletter',
    background: '#43AC32',
    top: '250px',
    left: '10vw',
  })
  @@include('./bubble.html', {
    
    size: '134px',
    text: 'Publish helpful content',
    background: '#286EFA',
    top: '410px',
    left: '-30vw',
  })
  @@include('./bubble.html', {
    
    size: '131px',
    text: 'Search engine optimization',
    background: 'linear-gradient(90deg, rgba(52,168,83,1) 0%, rgba(52,168,83,1) 25%, rgba(251,188,5,1) 25%, rgba(251,188,5,1) 50%, #EA4335 50%, #EA4335 75%, rgba(66,133,244,1) 75%, rgba(66,133,244,1) 100%);',
    top: '410px',
    left: '30vw',
  })
  @@include('./bubble.html', {
    
    size: '61px',
    text: 'Twitter',
    background: '#15B7EA',
    top: '90px',
    left: '-10vw',
  })
</div>