<div class="footer bg-no-repeat bg-contain bg-center px-40">
  <h2
    class="caps-xl mb-30"
    
  >
    Our Network
  </h2>
  <img class="mx-auto mb-46 md:hidden" src="./assets/svg/network-logos-mobile.svg" />
  <img class="mx-auto mb-72 hidden md:block" src="./assets/svg/network-logos.svg" />
  <a
    class="caps-sm text-white inline-block bg-black pt-21 px-36 pb-23 mb-42"
    href="#"
    >Contact us</a
  >
  <img
    class="mx-auto"
    style="margin-bottom: -75px"
    src="./assets/svg/thought-catalog-agency.svg"
  />
  <div class="overflow-hidden">
    <img
      class="mx-auto"
      style="transform: translateY(100px)"
      src="./assets/svg/logo.svg"
    />
  </div>
  <div></div>
</div>
