<div class="footer bg-no-repeat bg-contain bg-center px-20 sm:px-160">
  <h2 class="caps-lg mb-60 mt-10">Our Network</h2>
  <img class="mx-auto mb-80 lg:hidden" src="./assets/svg/network-logos-mobile.svg" />
  <img
    class="mx-auto mb-75 hidden lg:block"
    src="./assets/svg/network-logos.svg"
    style="
      transform: translateX(25px);
    "
  />
  <a class="caps-sm text-white inline-block bg-black pt-8 px-12 pb-9 mb-50" href="#">Contact us</a>
  <img
    class="mx-auto"
    style="margin-bottom: -75px"
    src="./assets/svg/thought-catalog-agency.svg"
  />
  <div class="overflow-hidden">
    <img
      class="mx-auto"
      style="transform: translateY(100px)"
      src="./assets/svg/logo.svg"
    />
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
<script src="./js/index.js"></script>