<div
  class="hidden lg:block absolute text-white z-10"
  style="
    left: 50%;
  "
>
  @@include('./bubble.html', {
    
    size: '8vw',
    text: 'Newsweek',
    background: '#EF1021',
    top: '8.5vw',
    left: '18vw',
    start: 0,
  })
  @@include('./bubble.html', {
    
    size: '8vw',
    text: 'Forbes',
    background: '#30B59D',
    top: '12vw',
    left: '31vw',
    start: 0,
  })
  @@include('./bubble.html', {
    
    size: '13vw',
    text: 'New York Times',
    background: '#000',
    top: '23.5vw',
    left: '40.9vw',
    start: 0,
  })
<div class="text-black">
  @@include('./bubble.html', {
    
    size: '8vw',
    text: 'Buzzfeed',
    background: '#FFDA18',
    top: '32.5vw',
    left: '31.5vw',
    start: 0,
  })
</div>
  @@include('./bubble.html', {
    
    size: '8vw',
    text: 'The Verge',
    background: '#D511AA',
    top: '45vw',
    left: '37vw',
    start: 0,
  })
  @@include('./bubble.html', {
    
    size: '10vw',
    text: 'Adweek',
    background: '#286EFA',
    top: '47vw',
    left: '24.5vw',
    start: 0,
  })
</div>