.arrows-1 {
  left: 230px;
  top: 30px;
  display: none;

  @media (min-width: 1230px) {
    display: block;
  }
}

.arrows-2 {
  left: 270px;
  top: 143px;
  display: none;

  @media (min-width: 1230px) {
    display: block;
  }
}

.bubble {
  padding: 10px;
  border-radius: 100%;
  text-transform: none;
  transform: translate(-50%, -50%);
}

.footer {
  @screen md {
    background-image: url(../assets/svg/globe.svg);
  }
}

.marquee {
  background: black;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
  font-family: "oswald", "Avenir Next Condensed", "Arial Narrow", Impact, sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 120px;
  overflow: hidden;
  padding-bottom: 26px;
  padding-top: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;

  span {
    padding: 0 1vw;
  }
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    animation: marquee 5s linear infinite;
    animation-play-state: running;
    animation-duration: 20s;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300vw);
    }
}

.handwriting-left {
  background: url(../assets/lfs/handwriting-left.png?nf_resize=fit&w=1080);
  height: 269px;
  width: 540px;
  top: 25%;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  @media (min-width: 790px) {
    top: 35%;
  }
}

.handwriting-right {
  background: url(../assets/lfs/handwriting-right.png?nf_resize=fit&w=1080);
  height: 684px;
  width: 357px;
  top: 46%;
  right: -80px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  @media (min-width: 790px) {
    top: 20%;
  }
}

.text-bg {
  position: absolute;
  top: 0px;
  right: -99px;
  bottom: 154px;
  left: -99px;
  text-align: left;
  font-family: "minion-pro", "Hoefler Text", "Noto Serif", Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  overflow: hidden;
}