body.home {
  .section__video {
    @screen lg {
      height: 68vw;
    }
  }

  .section__editorial {
    @screen md {
      height: 68vw;
    }
  }

  .section__photo {
    @screen md {
      height: 65.5vw;
    }
  }

  .section__video-mobile {
    padding: 3vw;

    @media (min-width: 500px) {
      padding: 27px;
    }

    img {
      width: 40vw;
      margin: 2vw;
      
      @media (min-width: 500px) {
        width: 200px;
        margin: 10px;
      }
    }
  }
}

.home__hero {
  @screen lg {
    height: 65vw;
  }
}

