.page-content-marketing {
  .page-content-marketing__3col {
    .caps-sm {
      max-width: 11em;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .section__increase-sales {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 127px;
    padding-bottom: 311px;

    @screen md {
      height: 83.5vw;
      padding-top: 12.6vw;
      padding-left: 13vw;
    }

    @screen lg {
      height: 68vw;
    }

    .subheadline {
      margin-top: 60px;

      @screen sm {
        margin-top: 15.5vw;
      }

      @screen lg {
        margin-top: 0;
      }
    }
  }

  .section__grows-search {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 127px;

    @screen md {
      height: 83.5vw;
      padding-top: 12.6vw;
      padding-left: 13vw;
    }

    @screen lg {
      height: 68vw;
    }

    .subheadline {
      margin-top: 15.5vw;

      @screen lg {
        margin-top: 0;
      }
    }
  }

  .section__grows-search__spacer {
    padding-bottom: 194px;

    @screen sm {
      padding-bottom: 3vw;
    }
  }
}