body.page-link-building {
  .section__grows-search {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 127px;

    @screen md {
      height: 83.5vw;
      padding-top: 12.6vw;
      padding-left: 13vw;
    }

    @screen lg {
      height: 68vw;
    }

    .subheadline {
      margin-top: 15.5vw;

      @screen lg {
        margin-top: 0;
      }
    }
  }

  .section__grows-search__spacer {
    padding-bottom: 80vw;

    @screen sm {
      padding-bottom: 3vw;
    }
  }

  .section__qna {
    padding-left: 20px;
    padding-right: 20px;

    @screen md {
      padding-left: 15vw;
      padding-right: 15vw;
    }

    svg {
      max-width: 463px;

      @screen md {
        max-width: initial;
      }
    }

    img {
      width: 468px;
      margin-top: calc(468px / 2 * -1);
      margin-left: calc(468px / 2 * -1);
      bottom: -180px;
      left: 115px;
      max-width: initial;

      @screen md {
        width: 41vw;
        margin-top: calc(41vw / 2 * -1);
        margin-left: calc(41vw / 2 * -1);
        bottom: initial;
        left: 14.5vw;
        bottom: 0;
      }
    }
  }

  .section__qna__heading {
    font-family: "oswald", "Avenir Next Condensed", "Arial Narrow", Impact, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.03em;
  }
}

.page-link-building__hero-content {
  @screen lg {
    transform: translateX(-50%);
  }
}