@define-mixin responsive-bg-img $src, $srcSm, $srcMd {
  /* Using Tailwindcss's default breakpoints, multiplied by two */
  background-image: url("$(src)?nf_resize=fit&w=800px");

  @screen sm {
    /* ATOW, sm breakpoint is 640. 640 * 2 = 1280 */
    background-image: url("$(srcSm)?nf_resize=fit&w=1280px");
  }

  @screen md {
    /* ATOW, md breakpoint is 1024. 1024 * 2 = 2048 */
    background-image: url("$(srcMd)?nf_resize=fit&w=2048px");
  }
}

.responsive-bg-img-wine {
  @mixin responsive-bg-img ../assets/lfs/wine-mobile.png, ../assets/lfs/wine.png,
    ../assets/lfs/wine.png;
}

.responsive-bg-img-house {
  @mixin responsive-bg-img ../assets/lfs/house-mobile.png,
    ../assets/lfs/house.png, ../assets/lfs/house.png;

  background-size: 100%;
  background-repeat: no-repeat;

  @screen sm {
    background-size: 65%;
  }
}

.responsive-bg-img-mountains {
  @mixin responsive-bg-img ../assets/lfs/mountains-mobile.png,
    ../assets/lfs/mountains.png, ../assets/lfs/mountains.png;
}
