<div style="max-width: 293px;">
  <div class="input-group mb-13 md:mb-23">
    <label class="text-label text-left md:text-right" for="@@idPrefix-name">Full name:</label>
    <input id="@@idPrefix-name" name="full-name" class="input" type="text" />
  </div>
  <div class="input-group mb-13 md:mb-23">
    <label class="text-label text-left md:text-right" for="@@idPrefix-email">Email address:</label>
    <input id="@@idPrefix-email" name="email" class="input" type="email" placeholder="you@email.com" />
  </div>
  <div class="input-group mb-13 md:mb-23">
    <label class="text-label text-left md:text-right" for="@@idPrefix-phone">Phone number:</label>
    <input id="@@idPrefix-phone" name="phone" class="input" type="tel" placeholder="you@email.com" />
  </div>
</div>