<div class="mx-auto" style="max-width: 550px;">
  <div class="input-group mb-14 md:mb-24">
    <label class="text-label text-left md:text-right" for="@@idPrefix-name">Full name:</label>
    <input id="@@idPrefix-name" name="full-name" class="input" type="text" style="min-width: 0" />
    <div class="validation-message">Please enter your name.</div>
  </div>
  <div class="input-group mb-14 md:mb-24">
    <label class="text-label text-left md:text-right" for="@@idPrefix-email">Email address:</label>
    <input id="@@idPrefix-email" name="email" class="input" type="email" placeholder="you@email.com" style="min-width: 0" />
    <div class="validation-message">Please enter an email address.</div>
  </div>
  <div class="input-group mb-14 md:mb-24">
    <label class="text-label text-left md:text-right" for="@@idPrefix-phone">Phone number:</label>
    <input id="@@idPrefix-phone" name="phone" class="input" type="tel" style="min-width: 0" />
    <div class="validation-message">Please enter a phone number.</div>
  </div>
</div>